.siteFooter {
    display: flex;
    flex-wrap: wrap;
    margin: auto 0 0 0;
    /*outline: 2px dotted silver;*/
    background-color: white;
    background-image: url("../images/morocco-blue.png");
    min-height: 200px;
}

.footerItem1,
.footerItem2,
.footerItem3 {
    display: flex;
    flex: 1;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    .footerItem1,
    .footerItem2,
    .footerItem3 {
        flex: 0 0 100%;
        text-align: center;
    }
}