.siteFooter {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}

.footerItem1,
.footerItem2,
.footerItem3 {
    display: flex;
    flex: 1;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    .footerItem1,
    .footerItem2,
    .footerItem3 {
        flex: 0 0 100%;
        text-align: center;
    }
}