.siteHeader {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    margin: 10px 0 30px 0;
    border-bottom: 2px dotted silver;
}

@media screen and (max-width: 600px) {
    .headerItem1 {
        flex: 0 0 100%;
        order: 1;
        text-align: center;
    }
    .headerItem2,
    .headerItem3 {
        flex: 1;
        order: 2;
        text-align: center;
    }
}