.main {
    max-width: 18000px;
    padding: 0 20px 0 20px;
}

footer {
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
}

.pageContent {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.pHead {
    flex: 0 0 100%;
}

.bLeft {
    flex: 2;
}

.bRight {
    flex: 1;
}
