.main {
    max-width: 18000px;
    padding: 0 20px 0 20px;
    height: 100%;
}

footer {
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
}

.pageContent {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}

.pHead {
    flex: 0 0 100%;
}

.bLeft {
    padding: 10px;
    flex: 2;
}

.bRight {
    padding: 10px;
    flex: 1;
    background-image: url("../images/rockywall.png");
}

@media screen and (max-width: 600px) {
    .bLeft,
    .bRight {
        flex: 0 0 100%;
    }
}