.main {
    display: flex;
    flex-direction: column;
    max-width: 18000px;
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
}

.pageContent {
    width: 100%;
    max-width: 1400px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin: 0 20px 0 20px;
}

.pHead {
    flex: 0 0 100%;
}

.bLeft {
    padding: 10px;
    flex: 2;
}

.bRight {
    padding: 10px;
    flex: 1;
    border-left:  2px dotted silver;
}

a {
    background-image: none;
}

a:hover {
    color: #cccccc;
}

@media screen and (max-width: 800px) {
    .bLeft,
    .bRight {
        flex: 0 0 100%;
    }
}